{% extends 'layout.html' %}

{% block content %}
    <form method="get" action="{{ url_for('home') }}" class="mas">
        <input type="search" name="q" placeholder="{{ _('Type a title, an artist or an album') }}" required autocomplete="off" value="{{ request.args.q }}">
    </form>

    {% if now_playing %}
        <h2 class="pas man bggrey btg"><i class="fa fa-play-circle"></i> {{ _('Now playing') }}</h2>

        <div class="song btg pas">
            <div>{% if not now_playing.title and not now_playing.artist %}{{ now_playing.filename }}{% else %}{{ now_playing.title }}{% endif %}</div>
            <div class="small txtmuted">{% if not now_playing.artist %}{{ _('Unknown artist') }}{% else %}{{ now_playing.artist }}{% endif %}{% if now_playing.album %} - {{ now_playing.album }}{% endif %}</div>
        </div>
    {% endif %}

    <h2 class="pas man bggrey btg">{% if not request.args.q %}<i class="fa fa-book"></i> {{ _('Available songs') }}{% else %}<i class="fa fa-search"></i> {{ _('Search results') }}{% endif %} ({{ songs_paginated.total }})</h2>

    {% if songs_paginated.total > 0 %}
        <div class="songs">
            {% for song in songs_paginated.items %}
                <div class="song btg pas">
                    <div class="fr">
                        {% set show_votes_count = False %}
                        {% if song.last_queued_at and (arrow.now().timestamp - song.last_queued_at.timestamp) <= config['BLOCK_TIME'] %}
                            {% set btn_class = 'is-disabled' %}
                            {% set btn_label = _('Queued %(last_queued_at)s', last_queued_at=song.last_queued_at.humanize(locale=g.CURRENT_LOCALE)) %}
                        {% else %}
                            {% if config['MODE'] == 'Vote' %}
                                {% set show_votes_count = True %}
                            {% endif %}

                            {% if already_submitted_time and (arrow.now().timestamp - already_submitted_time.timestamp) <= config['REQUEST_LIMIT'] %}
                                {% set btn_class = 'is-disabled' %}

                                {% if config['MODE'] == 'Vote' %}
                                    {% set btn_label = _('Vote') %}
                                {% else %}
                                    {% set btn_label = _('Queue') %}
                                {% endif %}
                            {% else %}
                                {% set btn_class = 'primary' %}

                                {% if config['MODE'] == 'Vote' %}
                                    {% set btn_label = '<i class="fa fa-chevron-right"></i> '|safe + _('Vote') %}
                                {% else %}
                                    {% set btn_label = '<i class="fa fa-chevron-right"></i> '|safe + _('Queue') %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        <div><a href="{{ url_for('submit', song_id=song.id, **request.args.to_dict()) }}" class="btn {{ btn_class }}" {% if btn_class == 'is-disabled' %}onClick="return false;"{% endif %}>{{ btn_label }}</a></div>

                        {% if show_votes_count %}
                            <div class="small txtcenter">{{ song.votes }}/{{ config['VOTES_THRESHOLD'] }} {{ _('votes') }}</div>
                        {% endif %}
                    </div>
                    <div>{{ song.title }}</div>
                    <div class="small txtmuted">{% if not song.artist %}{{ _('Unknown artist') }}{% else %}{{ song.artist }}{% endif %}{% if song.album %} - {{ song.album }}{% endif %}</div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>

        {% if songs_paginated.pages > 1 %}
            <div class="tbl pls pts prs mts btg">
                <div class="txtleft prs w33">
                    {% if songs_paginated.has_prev %}
                        <a href="{{ url_for('home', q=request.args.get('q'), page=songs_paginated.prev_num) }}" class="btn primary"><i class="fa fa-arrow-circle-left"></i> {{ _('Previous') }}</a>
                    {% endif %}
                </div>

                <div class="txtcenter w33">{{ _('Page %(current_page)i/%(total_page)i', current_page=songs_paginated.page, total_page=songs_paginated.pages) }}</div>

                <div class="txtright pls w33">
                    {% if songs_paginated.has_next %}
                        <a href="{{ url_for('home', q=request.args.get('q'), page=songs_paginated.next_num) }}" class="btn primary">{{ _('Next') }} <i class="fa fa-arrow-circle-right"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <p class="alert error pas mas">{{ _('No song to display.') }}</p>
    {% endif %}
{% endblock %}