{% extends 'layout.html' %}

{% block content %}
    <form method="get" action="{{ url_for('home') }}" class="mas">
        <input type="search" name="q" placeholder="{{ _('Type a title, an artist or an album') }}" required autocomplete="off" value="{{ request.args.q }}">
    </form>

    <p class="pas bggrey btg"><strong>{% if not request.args.q %}<i class="fa fa-music"></i> Available songs{% else %}<i class="fa fa-search"></i> Search results{% endif %} ({{ songs|length }})</strong></p>

    {% include 'songs.html' %}
{% endblock %}